<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.research.stroopapp">

    <!-- Add permissions here, before the application tag -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.StroopApp"
        tools:targetApi="31">

        <!-- Main entry point - Task Selection -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.StroopApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Task Selection Screen -->
        <activity
            android:name=".TaskSelectionActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.StroopApp.NoActionBar"
            android:parentActivityName=".MainActivity" />

        <!-- Task Execution (Between Tasks) Screen -->
        <activity
            android:name=".TaskExecutionActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.StroopApp.NoActionBar"
            android:parentActivityName=".TaskSelectionActivity" />

        <!-- Stroop Display Screen -->
        <activity
            android:name=".StroopDisplayActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.StroopApp.Fullscreen"
            android:parentActivityName=".TaskExecutionActivity" />

        <!-- Settings Screen -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.StroopApp.NoActionBar"
            android:parentActivityName=".TaskSelectionActivity" />

    </application>

</manifest>